* {
    margin: 0;
    padding: 0;
}

.w-1250 {
    width: 1250px;
    display: flex;
}

.header {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #EFF0F3;
    box-shadow: 4px 6px 13px #D7D7D740;
}

.header .w-1250 {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    color: #6246EA;
    cursor: default;
}

h2 span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    color: #001858;
}

header .w-1250 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    list-style-type: none;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

header .w-1250 ul li:hover{
    color: #6246EA;
    cursor: pointer;
}

.img-icon {
    margin-right: 10px;
}

.img-icon:hover{
    transform: scale(1.1);
}

.coffee-button {
    width: 213px;
    height: 44px;
    border-radius: 4px;
    border-style: none;
    background-color: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    transition: 1s;
}

.coffee-button:hover{
    color: black;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    transition: 1s;
}

.introductory_page {
    width: 100%;
    height: 814px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #EFF0F3;
}

.introductory {
    width: 664px;
    height: 345px;
    margin-top: 271px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.dasteen {
    width: 617px;
    height: 162px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
}

.description {
    width: 652px;
    color: #9A9494;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: #2B2C34 solid;
    padding-left: 11px;
}

input[type = "email"] {
    width: 219px;
    height: 25px;
    border-radius: 8px;
    border: #FFFFFE;
    background: #FFFFFE;
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 4px 6px 13px #D7D7D740;
}

.email-form {
    width: 609px;
    height: 67px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.subscribe {
    display: flex;
    width: 145px;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: none;
    background: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    transition: 1s;
}

.subscribe:hover{
    border-radius: 15px;
    transition: 1s;
}

#dasteen-img {
    margin-top: 250px;
    margin-left: 116px;
}

.browse_category {
    width: 100%;
    height: 500px;
    background: #EFF0F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.w-1252_h-365 {
    width: 1252px;
    height: 365px;
    display: flex;
    flex-direction: column;
}

.search_category {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search_category p {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.see_all {
    display: flex;
    flex-direction: row;
}

.see_all p {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.see_all p:hover{
    color: #000000;
}

.see_all img {
    width: 6px;
    height: 14px;
    margin: 9px 7px 2px 12px;
}


a{
    text-decoration: none;
}


.category {
    width: 1248px;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.component {
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    transition: 1s;
}

.component:hover{
    transform: scale(1.1);
    transition: 1s;
    background-color: #6246EA;
}

.icon_60 {
    width: 60px;
    height: 60px;
    padding-bottom: 30px;
}

.direction {
    height: 120px;
    margin-top: 65px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.articles {
    height: 2520px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w-1252_h-490 {
    width: 1252px;
    height: 490px;
    margin-top: 80px;
}

.article_cards{
    width: 1248px;
    height: 425px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article_card {
    width: 300px;
    height: 425px;
}

.article_card:hover{
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
}

.content{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 385px;
    padding: 20px;
}

.content_img {
    padding-bottom: 25px;
}

.content_overview{
    width: 260px;
    height: 75px;
    margin-bottom: 30px;
}

.content span {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.dasteen_author{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 260px;
    height: 57px;
}

.dasteen_author img{
    width: 57px;
    height: 57px;
    margin-right: 15px;
}

.data{
    height: 46px;
    display: flex;
    flex-direction: column;
}

.dasteen_author span{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.dasteen_author p{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.more_article{
    width: 165px;
    height: 64px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 8px;
    border-color: #6246EA;
    background: #6246EA;
    transition: 1s;
}

.more_article:hover{
    cursor: pointer;
    border-radius: 15px;
    transition: 1s;
}

.subscribe_section{
    width: 100%;
    height: 453px;
    background: #EFF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe_content{
    width: 696px;
    height: 337px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.postbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_130{
    width: 130px;
    height: 130px;
    background-image: url("img/Ellipse 93.png");
    border-radius: 50%;
    box-shadow: 13px 13px 13px 13px #D7D7D740;
}

.mail_content{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.subscribe_post_content{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subscribe_post_content p{
    color: #C0C0C0;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.footer{
    width: 100%;
    height: 435px;
    background: #E4E5E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.footer_content{
    width: 1249px;
    height: 245px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social_media{
    width: 284px;
    height: 138px;
}

.social_media p{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
}

.media_icon{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.icon_30{
    width: 30px;
    height: 30px;
    background-image: url("/img/Medium Monogram.png");
    transition: 1s;
}

.icon_30:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

.media_icon img{
    width: 24px;
    height: 24px;
    transition: 1s;
}

.media_icon img:hover{
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 13px 13px 13px 13px #D7D7D740;
    cursor: pointer;
}

.footer_navigation{
    width: 805px;
    height: 245px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_navigation_category{
    width: 129px;
}

.footer_navigation_about_me{
    width: 113px;
}

.footer_navigation_get_in_touch{
    width: 159px;
}

.footer_navigation_follow_us{
    width: 119px;
}

.footer_navigation span{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.footer_navigation ul{
    display: flex;
    flex-direction: column;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    list-style-type: none;
    padding-top: 20px;
    gap: 20px;
}

.footer_navigation ul li:hover{
    color: black;
    font-weight: 407;
    cursor: pointer;
}

hr{
    background: #C0C0C0;
    width: 1250px;
    height: 1px;
    margin-top: 50px;
    border-style: none;
}

.copyrigh{
    width: 1440px;
    height: 70px;
    display: flex;
    padding-top: 26px;
}

.copyrigh span{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 95px;
}
